*.pkl filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.8111243971624382_index_100.mp4 filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.9643260066527476_index_250.mp4 filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.9795319242856495_index_300.mp4 filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.9932620530009145_index_400.mp4 filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.42624657926256726_index_0.mp4 filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.6708070121920944_index_50.mp4 filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.8916319767781041_index_150.mp4 filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.9378234759778836_index_200.mp4 filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.9882563715429786_index_350.mp4 filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.9795319242856495_index_300.gif filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.9932620530009145_index_400.gif filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.42624657926256726_index_0.gif filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.6708070121920944_index_50.gif filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.8111243971624382_index_100.gif filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.9882563715429786_index_350.gif filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.8916319767781041_index_150.gif filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.9378234759778836_index_200.gif filter=lfs diff=lfs merge=lfs -text
results/polygon_animation_sparsity_0.9643260066527476_index_250.gif filter=lfs diff=lfs merge=lfs -text
results/loss_vs_llc_epoch_20000.png filter=lfs diff=lfs merge=lfs -text
results/loss_vs_llc_epoch_3243.png filter=lfs diff=lfs merge=lfs -text
results/loss_vs_llc_epoch_526.png filter=lfs diff=lfs merge=lfs -text
results/loss_vs_llc_epoch_85.png filter=lfs diff=lfs merge=lfs -text
results/loss_vs_llc_epoch_13.png filter=lfs diff=lfs merge=lfs -text
/data/logs_loss_1.9.0all_runs.pkl filter=lfs diff=lfs merge=lfs -text
